STEAM_LOGIN=yourusername
STEAM_PASSWORD=yourpassword
STEAM_SHARED_SECRET=yoursharedsecret

GIT_COMMITTER_NAME="github-actions[bot]"
GIT_COMMITTER_EMAIL="41898282+github-actions[bot]@users.noreply.github.com"
